body{
    background-color: aliceblue;
    padding: 0;
}

.nodisplay {
    display: none;
}

.navbar {
    background-color: aliceblue;
}

span {
    color: rgb(255, 54, 54);
    font-weight: bold;
}
::placeholder {
    opacity: 1;
    color: black;
    text-align: center;
    font-weight: 600;
}

input {
    width: 100%;
    border: solid black 2px;
    background: transparent;
    padding: 10px;
    text-align: center;
}

input[type="submit"] {
    width: 50%;
    border: solid black 2px;
    background: #4caf50;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: hwb(132 1% 37%);
}

.modalbutton {
    border: solid black 2px;
    background-color: bisque;
}
.modalbutton:hover{
    background-color: burlywood;
    border: solid black 2px;
}
#StatusGreen{
    color: green;
}
#StatusRed{
    color: red;
}
.border{
    border: solid black 1px;
}
#listofbots{
    background-color: aliceblue;
}
.equal{
    display: flex;
}
.outer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.inner{

}