table,tr,td{
    text-align: center;
}
body{
    padding: 1%;
    background-color: aliceblue;
}
button{
    background:#4CAF50;
    border:solid black 2px;
    padding: 10px;
    margin: 1%;
}
button:hover{
    background-color:hwb(132 1% 37%);
}
strong{
    color: black;
}
.nodisplay{
    display: none;
}
.display{
    display: block;
}
#AccordionContainer{
    background-color: aliceblue;
}
#AccordionContainer:hover{
    background-color: aliceblue;
}
#AccordionButton{
    background-color: aliceblue;
}
#AccordionButton:hover{
    background-color: aliceblue;
}

.tableWrap{
    max-width: 100%;
    overflow-y: auto;
}