.display {
    display: block;
}

.nodisplay {
    display: none;
}

body{
    background-color: aliceblue;
    padding-top: 4%;
}

.maindiv{
    background-color: aliceblue;
    box-shadow: inset;
}

span{
    display: block;
    color: rgb(255, 54, 54);
    font-weight:600;
}

::placeholder{
    opacity: 1;
    color: black;
    text-align: center;
    overflow: auto;
}

input{
    width: 100%;
    border: solid black 2px;
    background: transparent;
    padding: 10px;
    text-align: center;
}


input[type="submit"]{
    width:50%;
    border: solid black 2px;
    background:#4CAF50;
    padding: 10px;
}

input[type=submit]:hover {
    background-color:hwb(132 1% 37%);
}

.transitbutton{
    border: solid black 2px;
    padding: 10px;
    background-color: bisque;
    width: 100%;
}

.transitbutton:hover{
    background-color: burlywood;
}
