<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google ads Scraper</title>
    <script src="{% static 'hide.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <form id="form" method="post" action="/result/" class="display" onsubmit="validateHide()">
        <label for="query">Search query</label>
        <input type="text" name="query" placeholder="Enter Search query" required>
        <br>
        <label for="page">Total pages to scrape</label>
        <input type="number" max="10" min="1" name="page" required>
        <br>
        <label for="email">Enter Email address</label>
        <input type="email" name="email" required>
        <br>
        <input type="submit">
    </form>
    <span id="searching">
        
    </span>
</body>
</html>